body{
margin:0;
padding:0;
    font-size: 15px;
    background-color: #f7f8fa;
    color: #262626;
}
/*修改dialog表头背景*/
.ui-widget-header{
    background: none;
    border:none;
}
/*修改dialog按钮左右居中*/
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset{
    float:none;
    padding-left: 151px;
}
/*修改dialog中按钮样式（颜色，背景）*/
.ui-dialog-buttonpane .ui-button{
    width: 232px;
    height: 34px;
    border: 1px solid rgb(15,136,235);
    background: rgb(15,136,235);
}
/*修改鼠标放在按钮上的样式*/
.ui-button:hover{
    border: 1px solid blue;
    background: blue;
    color:white;
}
/*修改dialog按钮字体颜色*/
.ui-widget{
    color:white;
}
/*修改uEditor下方的字数统计单元格*/
.edui-default tr{
    display: none;
}
/*修改dialog底部的边框*/
.ui-dialog .ui-dialog-buttonpane{
    border-width: 0;
}

.ui-dialog .ui-dialog-titlebar-close{
    right:-3em;
}
.ui-dialog-titlebar .ui-button{
    background:white;
    border:none;
}
.is-focus{
    border: 1px solid #9fadc7!important;

    /*border-color:#9fadc7;*/
}


.header{
    margin:0;
    width: 1349px;
    height: 53px;
    position: fixed;
    background: #ffffff;
    top:0;
    border:1px solid #e7eaf1;
    box-shadow: 0 1px 3px 0;
}
.header-inner{
    width:1032px;
    margin:0 auto;

}
.header-inner .header-nav{
    margin: 0 auto;
    height:52px;

}
.header-inner .header-nav a{
    padding:0 16px;
    padding-left:0 ;
    line-height: 52px;
    font-size:15px;
    float:left;
    color:#8590a6;
   text-decoration: none;
}
.header-inner .header-nav a:hover{
    color:blue;
}
.header-inner .header-nav .is-active,.header-inner .header-nav .is-active:hover{
    color: #333333;
}
.header-inner .header-nav .a-first{
    font-size: 30px;
    color:rgb(15,136,235);
}
.header-inner .header-nav .search{
    width: 326px;
    height: 34px;
    float:left;
}
.header-inner .header-nav .input{
    height: 24px;
    width: 304px;
    line-height: 24px;
    margin:10px 0 10px 10px;
    padding: 4px 10px;
    border:1px solid #e7eaf1;
    border-radius: 5px;
    background:url(../img/search.png) no-repeat right;


}
.header-inner .header-nav .button{
background-color: rgb(15,136,235);
    color:white;
    border-color:rgb(15,136,235);
    margin:10px 0 10px 25px;
}

.header-inner .header-user{
    width: 326px;
    margin: 0 auto;
    float:right;
}

.header-inner .header-user img{
    width: 20px;
    height: 24px;
    margin:15px 15px;
    float:right;
    cursor: pointer;
}
.main-content{
    margin-top:68px;
    width: 1349px;


}
.main-content .container{
    width: 1032px;
    margin:10px auto;
    background: #ffffff;
    /*overflow: hidden;*/
}
.main-content .left{
    width: 694px;
    height: 60px;
    float: left;
    /*margin-top: 5px;*/
}
.main-content .left-top{
    border:1px solid #e7eaf1;
    background: #ffffff;
    padding-left: 20px;
}
.main-content .left-top img{
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    top: 4px;
}
.main-content .left-top a{
    text-decoration: none;
    padding: 0 25px 0 5px;
    font-size: 16px;
    color:#262626;
    height: 58px;
    line-height: 58px;
}
.main-content .left-top .outline{
    color:#8590a6;
    float:right;
}
.main-content .right{
    /*float:right;*/
    width: 296px;
    height: 817px;
    margin:auto 10px;
    position: fixed;
    top: 68px;
    left: 870px;

}
.main-content .right .right-top{
    display: inline-block;
    width: 294px;
    height: 165px;
    background-color: #ffffff;
    border:1px solid #e7eaf1;
}
.main-content .right .right-top a{
    float:left;
    width: 60px;
    padding:20px 0 10px 30px;
    text-decoration: none;
    color:#8590a6;
}
.main-content .right .right-top a .live:hover{
    color:orange;
}
.main-content .right .right-top a .book:hover{
    color:green;
}
.main-content .right .right-top a .round:hover{
    color:blue;
}
.main-content .right .right-top a .column:hover{
    color:blue;
}
.main-content .right .right-top a .money:hover{
    color: cornflowerblue;
}
.main-content .right .right-top a img{
    position: relative;
    margin:auto 0 auto 20px;
}
.main-content .right .right-top span{
    display: block;
    text-align: center;
}
.main-content .right .right-center{
    width: 294px;
    height: 245px;
    background-color: #ffffff;
    border:1px solid #e7eaf1;
    padding-top: 10px;
}
.main-content .right .right-center a{
    text-decoration: none;
    color:#8590a6;
    padding:8px 15px;
    display: block;
    /*background: red;*/
}
.main-content .right .right-center .center{
    height: 25px;
    line-height:25px;
}
.main-content .right .right-center .center:hover{
    background: lavender;
}

.main-content .right .right-center a span{
    padding-left: 5px;
    position:relative;
    top: -3px;
}
.main-content .right .right-bottom{
    height: 104px;
    color:#8590a6;
    margin-top: 10px;

}
.main-content .right .right-bottom a{
    text-decoration: none;
    color:#8590a6;
    font-size: 13px;
    line-height: 13px;
}
.main-content .right .right-bottom p{
    color:#8590a6;
    font-size: 13px;
    line-height: 13px;
}
.main-content .right .right-bottom a:hover{
    color:blue;
}
.main-content .right .right-bottom p{
    line-height: 10px;
}
.question-show{

}
.question-show .sub-title{
    padding: 0 38px;
    margin-top: 1px;
    font-size: 14px;
    line-height: 1.5;
    color: #8590a6;
    text-align: center;
}
h3{
    margin: 5px 0 0 0;
    font-size: 24px;
    font-weight: 500;
    color: #262626;
    text-align: center;
}
.question-show .caption{
    position: relative;
    width: 471px;
    height: 64px;
    background: #fff;
    padding: 4px 10px;
    border: 1px solid #e7eaf1;
    border-radius: 3px;
}

.question-show .question-title{
    width: 471px;
    height: 64px;
    font-size: 14px;
    border:none;
    overflow: hidden;
    resize:none;
    /*border: 1px solid red;*/

}
.question-show .add-topic{
    position: relative;
    width: 471px;
    height: 48px;
    background: #fff;
    padding: 1px 10px;
    margin-top: 20px;
    border: 1px solid #e7eaf1;
    border-radius: 3px;
    clear:both;
}
.question-show .add-topic .topic{
    width: 471px;
    height: 42px;
    font-size: 14px;
    border: none;
    overflow: hidden;
}
.question-show .descriptive{
    clear:both;
}
.question-show .descriptive p{
    text-indent: 10px;
}
.question-show .ueditor-container{
    width: 494px;
    height: 65px;
    border-radius: 3px;

}
/*修改复选框的样式，制作新的复选框样式*/
.question-show .quiz{
    width: 471px;
    height: 25px;
}

.question-show .checkOne{
    margin-top: 40px;
    width: 14px;
    background: #555555;
    position: relative;
}
.question-show .checkOne label{
    cursor:pointer;
    position:absolute;
    width: 14px;
    height: 14px;
    top:0;
    left:0;
    background: #eeeeee;
    border:1px solid #ddd;
    border-radius: 3px;
}
.question-show .checkOne label:after{
    opacity: 0.2;
    content:'';
    position: absolute;
    width: 6px;
    height: 4px;
    background: transparent;
    top: 2px;
    left: 2px;
    border: 3px solid #333333;
    border-top:none;
    border-right:none;
    transform:rotate(-45deg);
}
.question-show .checkOne label:hover::after{
    opacity:0.5;
}
.question-show .checkOne input[type=checkbox]:checked + label:after{
    opacity:1;
}
.question-show .checkOne input[type=checkbox]{
    display: none;
}
.question-show .anonymous-text{
    color: #8590a6;
    position: absolute;
    left: 45px;
}
.my-error{
color: red;
    float:right;
    height: 20px;

}

.container .left .content{
    background: #fff;
    margin:10px 0;
}
.container .left .content .from-point{
    color: #8590a6;
    padding: 15px 0 0 20px;
    font-size: 15px;
}
.container .left .content h2{
    font-size: 18px;
    font-weight:700;
    line-height: 1.6;
    margin:10px 0 10px 20px;
    cursor: pointer;
}
.container .left .content h2:hover{
    color: #2D64B3;
}
.container .left .content .editor{
    color: #262626;
   line-height: 1.67;
    margin:10px 0 10px 20px;

}
.container .left .content .bottom{
    color: #8590a6;
    margin:10px 0 5px 20px;
    padding-bottom: 20px;
}
.container .left .content .bottom span{
    padding-right: 30px;
    cursor: pointer;
}
.container .left .content .cut{
    height: 10px;
    background-color: #f7f8fa;
}
.container .left .editor .down{
    color: #8590a6;
    cursor: pointer;
}
.container .left .content .comment_list{
    border:1px solid #ccc;
    border-radius: 4px;
    padding: 5px 10px;
    margin:10px 20px 10px 20px;
    display: none;
}

.container .left .content .comment_add input{
    cursor: pointer;
    color:white;
    background: #3276b1;
    border-color: #3276b1;
    position: relative;
    top:-13px;
}
.container .left .content .comment_add textarea{
    width:80%;
    border:1px solid #ccc;
    height: 40px;
    border-radius:4px;
    resize: none;
    margin: 10px 20px 0 0;
}
.content .comment_list dl{
    margin: 0;
    padding: 3px 10px 5px 0;
}
.content .comment_list dl dt{
    margin: 0;
    padding: 5px 0 0 0;
    color: #369;
}
.content .comment_list dl dd{
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 180%;
}
.content .comment_list dl dd .date{
    color: #666666;
}
.content .comment_list dl.comment_content{
    border-bottom: 1px solid #cccccc;
}
.content .comment_load dd{
    background: url(../img/comment_load.gif) no-repeat 75px;
}
.content .load_more{
    width:96%;
    color: #666666;
    margin:10px 0 0 0;
    height: 30px;
    line-height: 30px;
}
.content .load_more:hover{
    background: #666;
    border-color:#666;
    color: white;
}